<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@1,300&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- favicon -->
  <link rel="icon" href="css/images/favicon.ico">
  <!-- custom css -->
  <link rel="stylesheet" href="css/styles.css">
  <!-- webpage title -->
  <title>Smart Healthcare System</title>
</head>

<body>
  <!-- navigation bar background-danger -->
  <section>
    <div class="">
      <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <!-- apollo symbol -->
        <img src="css/images/atlassian-brands.svg" class="logo-1" alt="logo">
        <!-- apollo x title -->
        <h1 class="logo-2"> Appolo X </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#shrink">
          <span class="navbar-toggler-text"> Menu </span>
        </button>
        <div class="collapse navbar-collapse" id="shrink">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="login"> Login </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="signup"> Sign-up </a>
            </li>
            <li>
              <a class="nav-link" href="#contact"> Contact us </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <section>
    <div id="gallery" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">
      <ol class="carousel-indicators">
        <li data-target="#gallery" data-slide-to="0" class="active"></li>
        <li data-target="#gallery" data-slide-to="1"></li>
        <li data-target="#gallery" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-- all images in carousel use the class cropped -->
          <img src="css/images/doctors scaled.webp" class="d-block w-100 size cropped" alt="main">
          <div class="carousel-caption d-none d-md-block">
            <h5> Our Vision </h5>
            <p> To promote, protect and improve the lifelong health of individuals and communities in India through the effective use of data, evidence-based prevention strategies, leadership, advocacy, partnerships, and the
              promotion of health
              equity. </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="css/images/ambulance2 scaled.webp" class="d-block w-100 size cropped" alt="ambulance">
          <div class="carousel-caption d-none d-md-block">
            <h5> 24x7 Service </h5>
            <p> We pledge to work towards the service of humanity.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="css/images/covid19 scaled.webp" class="d-block w-100 size cropped" alt="covid19">
          <div class="carousel-caption d-none d-md-block">
            <h5> Covid-19 </h5>
            <p> Even during the pandemic our doctors and staff have been working non-stop to help save the lives of the people of our country.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#gallery" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#gallery" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <section>
    <div class="main">
      <p>
        The mission of our hospital is to provide better care of the sick people, investigation in their problems and further education of those who serve.
        We will provide world class healthcare to the community at large by harnessing modern technology, medical expertise and state-of-art infrastructure. We will achieve clinical excellence with foremost importance to patient care at an affordable
        price. Our hospital is a non-commercial organization serving the society
        <br>
      <h1>Vision:</h1>
      The vision is to make our hospital a best place for care anywhere and the best place to work in healthcare. Our hospital’s aim is to be a global healthcare provider with compassion.
      Our Hospital Values include:
      <ul>
        <li><strong>Excellence</strong> – In Clinical & Non-Clinical services</li>
        <li><strong>Enthusiasm</strong> – Be inspired to save & enrich life</li>
        <li><strong>Ethics</strong> –Follow the code of medical ethics</li>
        <li><strong>Empathy</strong> – To understand & feel</li>
      </ul>
      <br>
      We are known for exceptional care delivered by multidisciplinary teams. We challenge ourselves to get better each year. Our goals are to touch more lives, relieve suffering and provide every patient the best care and experience. We promote
      teamwork, inclusion and integrity. We strive to make our hospital the best place to work and grow.
      All revenues beyond expenses are reinvested in our mission. We care for the organization as if it were our home, by securing its financial health, using resources mindfully and bringing our services to as many people as need our care.
      <h2>Quality Policy</h2>
      Our Hospital is committed to provide empathetic collaborative and comprehensive health care services to its patients and guests at an affordable rate considering all sections of its populace. Associates of Velmed Hospitals are committed to
      continuous quality improvement in facility and services. This policy is on regular review for its suitability with changing the environment and its guests' needs.
      Our Quality Team is a high powered committee comprising Senior Medical Staff and Senior Management of the hospital. The committee reviews data and reports regularly and makes suitable recommendations. The committee also monitors and analyzes
      all Patient Safety and Infection Control data of the hospital to ensure patient and staff safety. Our hospital actively monitors the following quality indicators regularly:
      <ul>
        <li>Patient safety</li>
        <li>Infection control</li>
        <li>Medication safety</li>
        <li>Emergency response</li>
        <li>Patient satisfaction</li>
        <li>Internal and External Quality Controls</li>
      </ul>
      <br>
      Our laboratories have both internal and external quality controls in ensuring the diagnostic quality,
      and follow daily QC (Quality Check) on each equipment as part of our Internal Quality Control Check.
      <br>
      A few of Hospital’s specialized services include:
      <ul>
        <li>Organ Transplant</li>
        <li>Organ Donation</li>
        <li>Trauma and Burn Care</li>
        <li>Neonatal Intensive Care Unit</li>
        <li>Comprehensive Neuromedicine</li>
        <li>Complex Cardiology</li>
        <li>Cancer Service</li>
      </ul>
      <br>
      </p>

    </div>
  </section>

  <footer class="bg-danger text-center spacing-2">
    <div id="contact">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p class="dev">© Byte Optimizers</p>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="parallax.js-1.5.0/parallax.min.js"></script>
</body>

</html>
